<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.1.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.1.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       ">


    <bean class="com.humanlog.transact.mobileclient.dao.TransactLoginDao" name="transactDao" >
        <property name="dataSource" ref="transactDataSource" />
        <property name="tnsFilePath" value="${transact.tnspath}" />
        <property name="storeProcLogin" value="${transact.storeproc.login}" />
        <property name="storeProcPassword" value="${transact.storeproc.password}" />
        <property name="schemaName" value="${jdbc.schema}" />
    </bean>

    <bean class="com.humanlog.transact.mobileclient.engine.transact.TransactDictionaryFactory" name="transactDictionaryFactory" >
        <property name="dictionaryFilePath" value="${transact.dicopath}" />
    </bean>



    <bean class="com.humanlog.transact.mobileclient.engine.MobileClientEngine" name="mobileClientEngine">
        <property name="transactDao" ref="transactDao" />
        <property name="transactDictionary" >
            <bean  factory-bean="transactDictionaryFactory" factory-method="getDictionaryFromCsv"/>
        </property>
        <property name="mobileClientProcessService">
            <bean class="com.humanlog.transact.mobileclient.engine.MobileClientProcessService">
                <property name="mobileClientProcesses">
                    <list>
                        <bean class="com.humanlog.transact.mobileclient.engine.MobileClientProcess">
                            <property name="processName" value="Remote FA" />
                            <property name="queryScreenPageDefinition">
                                <bean class="com.humanlog.transact.mobileclient.engine.screens.QueryScreenPageDefinition">
                                    <property name="title" value="Test1 Page Title"> </property>
                                    <property name="defaultWhereClause" value=" (T_8025_FAID = '%USER_LOGIN%' AND (Application.SYS_STATUSINFO = 15 OR Application.SYS_STATUSINFO = 16))  " /><!-- -->
                                    <property name="queryFields">
                                        <list>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="7925"/>
                                                <property name="label" value="Name"/>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="7928"/>
                                                <property name="label" value="Surname"/>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="7962"/>
                                                <property name="label" value="PhoneNumber"/>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="7921"/>
                                                <property name="label" value="FA Decision"/>
                                                <property name="displayType" value="3" />
                                                <property name="dropDownChoices">
                                                    <map>
                                                        <entry key="1" value="Appointment to be set" />
                                                        <entry key="2" value="Appointment set" />
                                                        <entry key="3" value="No valid ID" />
                                                        <entry key="4" value="Follow up" />
                                                        <entry key="5" value="Not interested" />
                                                        <entry key="6" value="Rejected" />
                                                    </map>
                                                </property>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="8109"/>
                                                <property name="label" value="Appointment date"/>
                                                <property name="displayType" value="1"/>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="62"/>
                                                <property name="label" value="Application status"/>
                                                <property name="displayType" value="3" />
                                                <property name="dropDownChoices">
                                                    <map>
                                                        <entry key="15" value="Introduced" />
                                                        <entry key="16" value="Qualified for visit" />
                                                    </map>
                                                </property>
                                            </bean>
                                        </list>
                                    </property>
                                </bean>
                            </property>
                            <property name="queryResultPageDefinition">
                                <bean class="com.humanlog.transact.mobileclient.engine.screens.QueryResultPageDefinition">
                                    <property name="maxresult" value="64" />
                                    <property name="headerKeys" >
                                        <list>
                                            <value>7925</value>
                                            <value>7928</value>
                                        </list>
                                    </property>
                                    <property name="resultColumns" >
                                        <list>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="209"/>
                                                <property name="label" value="Id" />
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="7925"/>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="7927"/>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="7928"/>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="7962"/>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="68"/>
                                                <property name="label" value="Created" />
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="8045"/>
                                                <property name="label" value="Product" />
                                                <property name="displayType" value="3" />
                                                <property name="dropDownChoices">
                                                    <map>
                                                        <entry key="1" value="Credit Facility" />
                                                        <entry key="2" value="Savings" />
                                                    </map>
                                                </property>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                <property name="linkedTransactFieldId" value="62"/>
                                                <property name="label" value="Status" />
                                                <property name="displayType" value="3" />
                                                <property name="dropDownChoices">
                                                    <map>
                                                        <entry key="15" value="Introduced" />
                                                        <entry key="16" value="Qualified for visit" />
                                                    </map>
                                                </property>
                                            </bean>
                                        </list>
                                    </property>
                                </bean>
                            </property>
                            <property name="beforeStoredProcScreenDefinition" >
                                <bean class="com.humanlog.transact.mobileclient.engine.screens.BeforeStoredProcScreenDefinition">
                                    <property name="tabList">
                                        <list>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenTab">
                                                <property name="title" value="Introducer"> </property>
                                                <property name="queryFields">
                                                    <list>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8015"/>
                                                            <property name="label" value="ID"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8016"/>
                                                            <property name="label" value="Name"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8017"/>
                                                            <property name="label" value="Surname"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8018"/>
                                                            <property name="label" value="Mobile Number"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8019"/>
                                                            <property name="label" value="Type"/>
                                                            <property name="enabled" value="false" />
                                                            <property name="displayType" value="3" />
                                                            <property name="dropDownChoices">
                                                                <map>
                                                                    <entry key="1" value="DSP" />
                                                                    <entry key="2" value="MIMO" />
                                                                    <entry key="3" value="Not Found" />
                                                                </map>
                                                            </property>
                                                        </bean>
                                                    </list>
                                                </property>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenTab">
                                                <property name="title" value="Client"> </property>
                                                <property name="queryFields">
                                                    <list>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7925"/>
                                                            <property name="label" value="Name"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7927"/>
                                                            <property name="label" value="Middle Name"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7928"/>
                                                            <property name="label" value="Surname"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7962"/>
                                                            <property name="label" value="Mobile Number"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8045"/>
                                                            <property name="label" value="Product requested"/>
                                                            <property name="enabled" value="false" />
                                                            <property name="displayType" value="3" />
                                                            <property name="dropDownChoices">
                                                                <map>
                                                                    <entry key="1" value="Credit Facility" />
                                                                    <entry key="2" value="Savings" />
                                                                </map>
                                                            </property>
                                                        </bean>
                                                    </list>
                                                </property>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenTab">
                                                <property name="title" value="Hierarchy"> </property>
                                                <property name="queryFields">
                                                    <list>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8021"/>
                                                            <property name="label" value="PD ID"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8022"/>
                                                            <property name="label" value="PD Name"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8023"/>
                                                            <property name="label" value="CRC ID"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8024"/>
                                                            <property name="label" value="CRC Name"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8025"/>
                                                            <property name="label" value="FA ID"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8026"/>
                                                            <property name="label" value="FA Name"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8027"/>
                                                            <property name="label" value="FA Surname"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                    </list>
                                                </property>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenTab">
                                                <property name="title" value="AirTime Data"> </property>
                                                <property name="queryFields">
                                                    <list>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7947"/>
                                                            <property name="label" value="Months as reseller"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7949"/>
                                                            <property name="label" value="This month"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7948"/>
                                                            <property name="label" value="Month -1"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7950"/>
                                                            <property name="label" value="Month -2"/>
                                                            <property name="enabled" value="false" />
                                                        </bean>
                                                    </list>
                                                </property>
                                            </bean>
                                            <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenTab">
                                                <property name="title" value="Meeting Details"> </property>
                                                <property name="queryFields">
                                                    <list>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8110"/>
                                                            <property name="label" value="Time"/>
                                                            <property name="displayType" value="2" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8109"/>
                                                            <property name="label" value="Date"/>
                                                            <property name="displayType" value="1" />
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="8111"/>
                                                            <property name="label" value="Address"/>
                                                        </bean>
                                                        <bean class="com.humanlog.transact.mobileclient.engine.screens.ScreenField">
                                                            <property name="linkedTransactFieldId" value="7921"/>
                                                            <property name="label" value="FA Decision"/>
                                                            <property name="displayType" value="3" />
                                                            <property name="dropDownChoices">
                                                                <map>
                                                                    <entry key="4" value="Appointment to be set" />
                                                                    <entry key="5" value="No valid ID" />
                                                                    <entry key="1" value="Appointment set" />
                                                                    <entry key="6" value="Follow up" />
                                                                    <entry key="3" value="Not interested" />
                                                                    <entry key="2" value="Rejected" />
                                                                </map>
                                                            </property>
                                                        </bean>
                                                    </list>
                                                </property>
                                            </bean>
                                        </list>
                                    </property>
                                </bean>
                            </property>
                            <property name="storedProc" >
                                <bean class="com.humanlog.transact.mobileclient.engine.transact.TransactStoredProc">
                                    <property name="id" value="8"/>
                                    <property name="delimiter" value="|" />
                                    <property name="inputFieldsRef">
                                        <list>
                                            <value>8109</value>
                                            <value>8110</value>
                                            <value>8111</value>
                                            <value>7921</value>
                                            <value>209</value>
                                        </list>
                                    </property>
                                    <property name="outputFieldsRef">
                                        <list>
                                            <value>60</value>
                                        </list>
                                    </property>
                                </bean>
                            </property>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
    </bean>


    <!-- THE WEB APPLICATION MUST BE DEFINED AS SPRING BEAN -->
    <bean id="wicketApplication" class="com.humanlog.transact.mobileclient.Application" >
        <property name="engine" ref="mobileClientEngine" />
    </bean>

    <!--
    <bean id="daoTester" class="com.humanlog.transact.mobileclient.test.TestDao" init-method="init">
        <property name="dataSource" ref="transactDataSource" />
        <property name="transactDataAccessDao" ref="transactDao" />
        <property name="engine" ref="mobileClientEngine" />
    </bean>
-->

</beans>